# Dependencies
node_modules
.pnpm-store

# Build output
dist
_astro

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
.history

# Local env files
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac junk files
.DS_Store

# Sanity specific
difi-admin/node_modules
difi-admin/dist